.header{
  font-weight: normal;
  font-size: 50px;
  color: white;
}
.background{
  background-color: black;
  text-align: center;
  font-family: Verdana
}

.cta{
  color: Aquamarine;
  font-size: 16px;
}

.para{
  font-size: 21px;
  color: gray;
}
